---
---

@import "{{ site.theme }}";
header {
    width: 190px;
}
h1.header {
    font-size: 16pt;
    font-weight: 500;
}
a.github {
    background: url(https://afpayday.com/assets/img/favicon.ico) no-repeat 1px;
    background-size: 16px;
}
header li {
    width: unset;
}
