<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          <li><a target="_blank" class="buttons github" href="https://afpayday.com">Affiliate Payday</a></li>
          <li><a target="_blank" class="buttons github" href="https://afpayday.com/payday/1/">Affiliate Payday Product</a></li>
          <li><a target="_blank" class="buttons github" href="https://afpayday.com/blogs/1/">Affiliate Payday Blog</a></li>
        </ul>
      </header>

      <section>
        <a target="_blank" class="buttons github" href="https://afpayday.com" style="
    color: white;
    background: #C3001D;
    background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b30e31), color-stop(100%, #b34490));
    background: -webkit-linear-gradient(top, #b30e31 0%, #b34490 100%);
    background: -o-linear-gradient(top, #C3001D 0%, #950119 100%);
    background: -ms-linear-gradient(top, #b30e31 0%, #b34490 100%);
    background: linear-gradient(to right, #b30e31 0%, #b34490 100%);
    padding: 5px;
    border-radius: 5px;
    list-style-type: none;
    width: 132px;
    height: 15px;
    margin-bottom: 12px;
    line-height: 1em;
    padding: 6px 6px 6px 7px;
    text-decoration: none;
">Affiliate Payday</a>
        {{ content }}
      </section>

      <footer>
        <p><small></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
